/*
Jacob Blair
CST120
Milestone 7
12/10/23
This is my own work.
*/
.pblock:hover { /*shadow animation on hover*/
    box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
    transition: box-shadow 150ms;
}
.pblock p { /*!important overrides bootstrap defaut*/
    color: black!important;
}
.pblock {
    background-color: var(--text-color); /* site background color is used, however a box shadow is also used to differentiate the box and the main page*/
    border-radius: 5px; /*curved borders*/
    box-shadow: 2px 2px 2px black;
}
#skillsAccordion .accordion-button {
    background-color: #04364A;
    color: white;
    font-weight: 400;
}
#skillsAccordion .accordion-button:hover {
    background-color: var(--highlight-color);
}
#skillsAccordion .accordion-body {
    background-color: var(--card-color);
}
.list-group-item {
    background-color: var(--site-bg)!important;
}
#skillsAccordion {
    box-shadow: 5px 5px 5px black;
    border-color: black !important;
}